:root{
    --primary-color : #fe206e;
    --mainfont:"Playfair Display", times, serif;
}

body{
    font-family: var(--mainfont);
     line-height: 1.8;
}



.my-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./assets/images/slider-7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.7);
  z-index: -1;
  
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
    filter: invert(100);
     transform: scale(1.5);
}

.mtx-5 {
    margin-top: 5rem;   
    margin-left: 5rem;   
    margin-right: 5rem; 
}


.mouse-icon {
  width: 25px;
  height: 45px;
  border: 2px solid white;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  text-align: center; 
}

.mouse-wheel {
  height: 6px;
  margin: 2px auto 0;
  display: block;
  width: 3px;
  background-color: white;
  border-radius: 50%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
  -moz-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.6s ease infinite wheel-up-down;
 }
